<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Course by id</title>
    </head>
    <body>
       	<h3 th:text="'ID = ' + ${course.idCourse}">Student NPM</h3>
       	<h3 th:text="'Nama = ' + ${course.nama}">Student Name</h3>
       	<h3 th:text="'SKS = ' + ${course.sks}">Student GPA</h3>
       	<h3>Mahasiswa yang mengambil</h3>
       	<ul th:each="student,iterationStatus: ${course.students}">
       		<li th:text="${student.npm} + ' - ' + ${student.name}" > Npm-Nama student </li>
       	</ul>
    </body>
</html>

